.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  border: 3px solid rgba(0, 17, 255, 0.432);
  border-radius: 19px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
  /* font-family: "Permanent Marker", cursive; */
  padding: 15px 80px;
  /* text-align: center; */
  width: 50px;
  /* height: 50px; */
}

.number {
  font-size: 100px;
}
