@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* border: 3px solid green; */
}

.card {
  border: 1px solid rgba(0, 17, 255, 0.432);
  border-radius: 19px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
  /* font-family: "Permanent Marker", cursive; */
  padding: 30px;
  text-align: center;
  width: 700px;
}

.question {
  text-align: left;
  font-weight: 700;
  /* border: 2px solid red; */
}

.answers {
  padding-top: 20px;
  text-align: left;
}
